<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/rules.css">
    <link rel="stylesheet" href="/styles/updateClient.css">
    <title>Update Client</title>
</head>

<body>
    <form action="/client/update" method="post">
        <table>
            <tbody>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td><label for="telefono">Telefono:</label></td>
                    <td><input type="tel" name="telefono"></td>
                </tr>
                <tr>
                    <td><a href="/dashboard" >volver</a></td>
                    <td><button type="submit">Aceptar</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>